/* Principal MAP*/
/* Secundario */
body {
  font-family: 'Cinzel', serif; }

.row {
  max-width: 99.6vw; }

li ul {
  text-decoration: none; }

/* Header */
.header {
  font-size: 3vh;
  width: 100%;
  font-family: 'Cinzel', serif;
  background-color: #F1F2F4; }

.logo img {
  height: 16vh; }

.navbar img {
  height: 6.3vh;
  margin-top: 1vh;
  justify-content: left; }

.navbar .navbar-nav {
  color: #F1F2F4;
  margin-left: 8vw; }

.navbar .nav-link {
  margin-left: 7vw;
  margin-top: 1vh;
  color: #00893c; }
  .navbar .nav-link:hover {
    border-bottom: solid 3px;
    color: #00893c;
    border-color: #00893c;
    transition: all 0.3s;
    -o-transition-delay: 0.85s;
    transition-delay: 0.25s; }

/* Boxheader */
.boxheader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  background-color: #00893c;
  color: white; }

/* Background */
.background {
  background-repeat: no-repeat;
  background-color: #F1F2F4;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  padding-bottom: 0.1vh; }

.intentodeopacidad {
  opacity: 0.9;
  background-color: #F1F2F4;
  padding-bottom: 1vh;
  padding-top: 1vh; }

.backgroundcolor_productos {
  opacity: 0.92;
  background-color: #f1f2f4;
  padding-bottom: 3vh;
  padding-top: 3vh; }

/* Footer */
.boxfooter {
  background-color: #00893c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
  padding-bottom: 1vh; }

.footer {
  background-color: #F1F2F4;
  border: solid 1px;
  color: #00893c;
  padding-top: 2vh;
  padding-bottom: 2vh; }
  .footercontactanos {
    font-size: 4vh;
    font-weight: 400;
    color: #00893c;
    display: grid;
    justify-content: center; }
    .footercontactanos_contenido {
      font-size: 3vh;
      color: #00893c;
      font-weight: 200;
      text-decoration: none;
      display: grid;
      justify-content: center;
      align-items: flex-end; }
  .footer .botonfooter {
    display: grid;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 1vh 2vw 1vh 2vw;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    margin-left: 0vw;
    font-size: 2.85vh;
    color: white;
    background-color: #00893c;
    text-decoration: none; }
    .footer .botonfooter:hover {
      transition: all 0.3s ease;
      position: relative;
      text-decoration: none;
      background-color: #F1F2F4;
      color: #00893c;
      border: solid 1px;
      border-color: #00893c; }
  .footer .redessociales {
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer .redessociales_imagenes {
      width: 60%;
      height: 60%;
      margin: 0vh 6vw; }
      .footer .redessociales_imagenes:hover {
        opacity: 0.8; }
  .footer .lista {
    margin-right: 4vw; }

/* Testimonios */
.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem; }

.testimonial-card .avatar {
  width: 110px;
  margin-top: -60px;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 50%; }

.btn {
  display: grid;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 1vh 2vw 1vh 2vw;
  padding-left: 0.5vh;
  padding-right: 0.5vh;
  margin-left: 0vw;
  font-size: 2.85vh;
  color: white;
  background-color: #00893c;
  text-decoration: none;
  border: solid 0px;
  height: auto;
  font-size: 1vw; }

/* Main */
.maximiza_titulo, .paneles_titulo {
  font-size: 4.5vh;
  padding: 0px 0px 0px 0px;
  margin: 0px;
  display: grid;
  justify-content: center;
  text-align: center; }

.maximiza_boton {
  display: grid;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 1vh 2vw 1vh 2vw;
  padding-left: 0.5vh;
  padding-right: 0.5vh;
  margin-left: 0vw;
  font-size: 2.85vh;
  color: white;
  background-color: #00893c;
  text-decoration: none;
  margin-top: -18vh; }
  .maximiza_boton:hover {
    transition: all 0.3s ease;
    position: relative;
    text-decoration: none;
    background-color: #F1F2F4;
    color: #00893c;
    border: solid 1px;
    border-color: #00893c; }

/* Productos Card Group */
/* Carousel */
.carousel {
  background-image: url(../imagenes/contenedores.png);
  height: 65vh;
  background-size: cover; }

.productos_titulo {
  display: grid;
  font-size: 4.5vh;
  justify-content: center;
  text-align: center;
  padding: 0px 0px;
  max-width: 98vw; }

.carousel-item img {
  height: 45vh;
  width: 10vw;
  border: solid 3px; }

.carousel-inner {
  width: 90%;
  margin-left: 2.5vw; }

.boton_carousel {
  display: grid;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 1vh 2vw 1vh 2vw;
  padding-left: 0.5vh;
  padding-right: 0.5vh;
  margin-left: 0vw;
  font-size: 2.85vh;
  color: white;
  background-color: #00893c;
  text-decoration: none;
  margin-bottom: 2vh;
  margin-left: 9vw; }
  .boton_carousel:hover {
    transition: all 0.3s ease;
    position: relative;
    text-decoration: none;
    background-color: #F1F2F4;
    color: #00893c;
    border: solid 1px;
    border-color: #00893c; }

.card-up {
  background-color: #00893c; }

/* Productos */
.fichaproductos {
  display: grid;
  justify-content: center;
  text-align: center; }
  .fichaproductos button {
    font-size: 2.5vh;
    background-color: #00893c;
    color: white; }
  .fichaproductos_imagen {
    border: solid 3px; }

.card {
  padding-top: 0.35vw;
  padding-left: 0.35vw;
  padding-right: 0.35vw; }

.card-title {
  font-size: 3vh; }

.card-precio {
  font-size: 3vh;
  font-weight: 600; }

/* Nosotros */
.nosotros_titulo {
  font-size: 4.5vh;
  display: grid;
  justify-content: center;
  text-align: center;
  text-decoration: underline; }

.nosotros_texto {
  font-size: 3.2vh;
  max-width: -8vw;
  display: grid;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 590;
  text-align: center; }

.nosotros_imagen {
  border: solid 2px;
  height: 93%;
  width: 100%; }

/* Contacto */
iframe {
  width: 100%;
  height: 50vh;
  display: grid; }

.boton_contacto {
  display: grid;
  justify-content: center; }

/* FAQ */
.faq_titulo {
  display: grid;
  justify-content: center;
  font-size: 4vh;
  text-decoration: underline;
  text-align: center; }

.faq_contenido {
  display: grid;
  justify-content: center;
  font-size: 2vh; }

.accordion_editar {
  /* Con esto edito el background cuando se despliega */ }
