body {
    font-family: 'Cinzel', serif;
}

li ul {
    text-decoration: none;
}
header {
    font-size: 3.15vh;
    width: 100%;
    font-family: 'Cinzel', serif;
    border-top: solid 1px;
}
.navbar-toggler-icon { /* Icono Hamburguesa, arreglar dsp */
}
nav img {
    height: 7vh;
    margin-top: 1vh;
    justify-content: left;
}
.navbar-brand {
    margin-left: 3.4vw;
}
.navbar-nav {
    color: #c9c9c9;
}
.nav-link {
    margin-left: 8.2vw;
    margin-top: 1vh;
    color: #00893c;
}
.nav-link:hover {
    border-bottom: solid 3px;
    color: #00893c;
    border-color: #00893c;
    transition: all 0.3s;
    -o-transition-delay: 0.85s;
    transition-delay: 0.25s;
}
.boxheader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    background-color: #00893c;
    color: white;
}
.background {
    background-repeat: no-repeat;
    background-color: #c9c9c9;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    padding-bottom: 0.1vh;
    background-image: url(./imagenes/nordic-harvest-featured-test.gif);
}
.intentodeopacidad {
    opacity: 0.9;
    background-color: #c9c9c9;
    padding-bottom: 1vh;
    padding-top: 1vh;
}
.backgroundcolor_productos {
    opacity: 0.92;
    background-color: #c0c0c0;
    padding-bottom: 3vh;
    padding-top: 3vh;
}
.boxfooter {
    background-color: #00893c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1vh;
    padding-bottom: 1vh;

}
.footer {
    background-color: #c9c9c9;
    border: solid 1px; color: #7c7c7d;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.lista {
    margin-right: 4vw;
}
.footercontactanos {
    font-size: 4vh;
    font-weight: 400;
    color: #00893c;
    display: grid;
    justify-content: center;
}
.footercontactanos_contenido {
    font-size: 3vh;
    color: #00893c;
    font-weight: 200;
    text-decoration: none;
    display: grid;
    justify-content: center;
    align-items: flex-end;
}
.redessociales {
    display: flex;
    justify-content: center;
    align-items: center;
}
.redessociales_imagenes{
    width: 60%;
    height: 60%;
    margin: 0vh 6vw;
}
.redessociales_imagenes:hover {
    opacity: 0.8;
}

/* Main */
.maximiza_titulo {
    font-size: 4.5vh;
    display: grid;
    justify-content: center;
    text-align: center;
}
.maximiza_texto {
    font-size: 3.5vh;
    max-width: -8vw;
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 590;
    margin-top: 0vh;
    margin-left: 0vw;
    text-align: center;
}
.maximiza_imagen{
    width: 95%; 
    height: 60%;
    margin-top: 0.5vh;
    margin-left: 4vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 1;
}
.maximiza_boton{
    display: grid;
    margin-left: 0vw;
    font-size: 3vh;
    color: white;
    background-color: #00893c;
    margin-top: -18vh;
}
.maximiza_boton:hover {
    transition: all 0.3s ease;
    position: relative;
    background-color: #c9c9c9;
    color: #00893c;
    border: solid 1px;
    border-color: #00893c;
}
/* Productos Card Group */
.card-group {
    height: 20%;
    width: 40%;
}
.card img {
    height: 50%;
    width: 100%;
}
/* Carousel */
.carrousel {
    display: flex;
    justify-content: center;
    font-size: 2.5vw;
}
.productos_titulo {
    display: grid;
    font-size: 4.5vh;
    justify-content: center;
    text-align: center;
}
.carousel-item img{
    height: 45vh;
    width: 10vw;
    border: solid 3px;
}
.carousel-inner {
    width: 90%;
    margin-left: 2.5vw;
}
.boton_carousel {
    display: grid;
    justify-content: center;
    width: 50%;
    font-size: 3vh;
    margin-left: 8vw;
    color: white;
    background-color: #00893c;
}
.boton_carousel:hover {
    background-color: #c9c9c9;
    color: #00893c;
    border: solid 1px;
    border-color: #00893c;
}
/* Productos */
.paneles_titulo {
    display: grid;
    font-size: 4vh;
    color: black;
    font-weight: 600;
    justify-content: center;
}
.fichaproductos {
    display: grid;
    justify-content: center;
    text-align: center;
}
.fichaproductos_imagen{
    border: solid 3px;
}
.fichaproductos button {
    font-size: 2.5vh;
    background-color: #00893c;
    color: white;

}
.card {
    padding-top: 0.35vw;
    padding-left: 0.35vw;
    padding-right: 0.35vw;
}
.card-title {
    font-size: 3vh;
}
.card-precio {
    font-size: 3vh;
    font-weight: 600;
}
/* Nosotros */
.nosotros_titulo {
    font-size: 4.5vh;
    display: grid;
    justify-content: center;
    text-align: center;
    text-decoration: underline;
}
.nosotros_texto {
    font-size: 3.2vh;
    max-width: -8vw;
    display: grid;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 590;
    text-align: center;
}
.nosotros_imagen {
    border: solid 2px;
    height: 93%;
    width: 100%;
}
/* Contacto */
iframe {
    width: 100%;
    height: 50vh;
    display: grid;
}
.boton_contacto {
    display: grid;
    justify-content: center;
}

/* FAQ */
.faq_titulo {
    display: grid;
    justify-content: center;
    font-size: 4vh;
    text-decoration: underline;
    text-align: center;
}
.faq_contenido {
    display: grid;
    justify-content: center;
    font-size: 2vh;
}
.accordion_editar { /* Con esto edito el background cuando se despliega */
}
/* Media Query */

@media only screen and (max-width: 768px)  {
}
@media only screen and (max-width: 480px) { 
    .carousel-inner {
        height: 30%;
        margin-left: 5vw;
    }
}