/* Main */
.maximiza_titulo {
    font-size: 4.5vh;
    display: grid;
    justify-content: center;
    text-align: center;
}
.maximiza_texto {
    font-size: 3.5vh;
    max-width: -8vw;
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 590;
    margin-top: 0vh;
    margin-left: 0vw;
    text-align: center;
}
.maximiza_imagen{
    width: 95%; 
    height: 60%;
    margin-top: 0.5vh;
    margin-left: 4vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 1;
}
.maximiza_boton{
    display: grid;
    margin-left: 0vw;
    font-size: 3vh;
    color: white;
    background-color: $color-verde;
    margin-top: -18vh;
        &:hover {
            transition: all 0.3s ease;
            position: relative;
            background-color: $color-principal;
            color: $color-verde;
            border: solid 1px;
            border-color: $color-verde; }
}
/* Productos Card Group */
.card-group {
    height: 20%;
    width: 40%;
}
.card img {
    height: 50%;
    width: 100%;
}
/* Carousel */
.carrousel {
    display: flex;
    justify-content: center;
    font-size: 2.5vw;
}
.productos_titulo {
    display: grid;
    font-size: 4.5vh;
    justify-content: center;
    text-align: center;
}
.carousel-item img{
    height: 45vh;
    width: 10vw;
    border: solid 3px;
}
.carousel-inner {
    width: 90%;
    margin-left: 2.5vw;
}
.boton_carousel {
    display: grid;
    justify-content: center;
    width: 50%;
    font-size: 3vh;
    margin-left: 8vw;
    color: white;
    background-color: $color-verde;
        &:hover {
            background-color: $color-principal;
            color: $color-verde;
            border: solid 1px;
            border-color: $color-verde;
        } 
    }