/* Main */
.maximiza_titulo {
    font-size: 4.5vh;
    display: grid;
    justify-content: center;
    text-align: center;
}
.maximiza_texto {
    font-size: 3.3vh;
    max-width: -8vw;
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 590;
    margin-top: -0.2vh;
    margin-left: 0vw;
    text-align: center;
}
.maximiza_imagen{
    width: 95%; 
    height: 60%;
    margin-top: 0.5vh;
    margin-left: 4vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 1;
}
.maximiza_boton{
    @include botones
    margin-top: -18vh;
        &:hover {
            @include botoneshover
        }
}
/* Productos Card Group */

/* Carousel */
.carrousel {
    display: flex;
    justify-content: center;
    font-size: 2.5vw;
}
.productos_titulo {
    display: grid;
    font-size: 4.5vh;
    justify-content: center;
    text-align: center;
}
.carousel-item img{
    height: 45vh;
    width: 10vw;
    border: solid 3px;
}
.carousel-inner {
    width: 90%;
    margin-left: 2.5vw;
}
.boton_carousel {
    @include botones;
    margin-bottom: 2vh;
    margin-left: 9vw;
        &:hover {
            @include botoneshover
        } 
    }