/* Main */
.maximiza_titulo {
    font-size: 4.5vh;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    display: grid;
    justify-content: center;
    text-align: center;
}
.maximiza_boton{
    @include botones
    margin-top: -18vh;
        &:hover {
            @include botoneshover
        }
}
/* Productos Card Group */

/* Carousel */
.carousel {
    background-image: url(../imagenes/contenedores.png);
    height: 65vh;
    background-size: cover;
}
.productos_titulo {
    display: grid;
    font-size: 4.5vh;
    justify-content: center;
    text-align: center;
    padding: 0px 0px;
    max-width: 98vw;
}
.carousel-item img{
    height: 45vh;
    width: 10vw;
    border: solid 3px;
}
.carousel-inner {
    width: 90%;
    margin-left: 2.5vw;
}
.boton_carousel {
    @include botones;
    margin-bottom: 2vh;
    margin-left: 9vw;
        &:hover {
            @include botoneshover
        } 
    }
.card-up {
    background-color: $color-verde;
}