/* Main */
.maximiza_titulo {
    font-family: 'Nunito', sans-serif;
    font-size: 5vh;
    font-weight: 900;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 10vh;
    text-shadow: 20px;
}
/* Productos Card Group */

/* Carousel */
.carousel {
    background-image: url(../imagenes/contenedores.png);
    height: auto;
    padding: 13vh;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
}
.carousel_grilla {
    display: grid;
    justify-content: center;

}
.carousel_grilla_envios{
    @include botones;
    font-weight: 500;
    margin-top: 2vh;
    font-family: 'Cinzel', serif;
    font-size: 1.8vw;
        &:hover {
            @include botoneshover
        }
        
}
.productos_titulo {
    display: grid;
    font-size: 4.5vh;
    justify-content: center;
    text-align: center;
    padding: 0px 0px;
    max-width: 98vw;
}
.carousel-item img{
    height: 45vh;
    width: 10vw;
    border: solid 3px;
}
.carousel-inner {
    width: 90%;
    margin-left: 2.5vw;
}
.boton_carousel {
    @include botones;
    margin-bottom: 10vh;
    margin-left: 9vw;
        &:hover {
            @include botoneshover
        } 
    }
.card-up {
    background-color: $color-verde;
}